.about-page {
    background: #f8fafc;
}

.about-hero {
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 60px 20px 35px;
}

.about-hero-content {
    max-width: 800px;
}

.about-label {
    color: #2563eb;
    font-size: 15px;
    font-weight: 600;
    letter-spacing: 2px;
    margin-bottom: 15px;
}

.about-hero h1 {
    font-size: 52px;
    max-width: 850px;
    margin: auto;
    color: #1f2937;
    line-height: 1.2;
}

.about-hero-description {
    font-size: 18px;
    color: #6b7280;
    line-height: 1.8;
    margin-bottom: 35px;
}

.about-hero-buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.primary-btn,
.secondary-btn {
    padding: 14px 34px;
    border-radius: 8px;
    font-size: 17px;
    cursor: pointer;
    transition: 0.3s;
}

.primary-btn {
    background: #2563eb;
    color: white;
    border: none;
}

.primary-btn:hover {
    background: #1d4ed8;
}

.secondary-btn {
    background: transparent;
    color: #2563eb;
    border: 2px solid #2563eb;
}

.secondary-btn:hover {
    background: #2563eb;
    color: white;
}

.about-platform {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 60px;
    padding: 90px 10%;
    background: #ffffff;
}

.platform-image {
    flex: 1;
}

.platform-image img {
    display: block;
    width: 100%;
    max-width: 500px;
    border-radius: 20px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.12);
}

.platform-content {
    flex: 1;
}

.platform-content h2 {
    font-size: 40px;
    color: #1F2937;
    margin: 15px 0 20px;
}

.platform-content p {
    color: #6B7280;
    line-height: 1.8;
    font-size: 17px;
    margin-bottom: 25px;
}

.platform-content ul {
    list-style: none;
    padding: 0;
    margin-bottom: 30px;
}

.platform-content ul li {
    margin-bottom: 12px;
    font-size: 17px;
    color: #374151;
}

.check-icon {
    color: #2563EB;
    margin-right: 10px;
}

@media(max-width:900px) {
    .about-platform {
        flex-direction: column;
        text-align: center;
    }
    .platform-image img {
        max-width: 100%;
    }
}

.mission-vision {
    padding: 30px 10% 80px;
    text-align: center;
}


.mission-vision h2 {
    font-size: 40px;
    color: #1f2937;
    margin-bottom: 20px;
}
.mission-subtitle{
    color:#6b7280;
    font-size: 18px;
    margin-top: 0px;
    margin-bottom: 45px;
}

.mission-container {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}

.mission-card {
    width: 420px;
    background: white;
    padding: 35px;
    border-radius: 15px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.08);
    transition: .3s;
}

.mission-card:hover {
    transform: translateY(-8px);
}

.icon {
    font-size: 45px;
    color: #2563eb;
    margin-bottom: 20px;
}

.mission-card h3 {
    font-size: 26px;
    margin-bottom: 15px;
    color: #2563eb;
}

.mission-card p {
    font-size: 16px;
    line-height: 1.8;
    color: #555;
}

.why-choose-us {
    padding: 90px 10%;
    background: #ffffff;
}

.why-heading {
    text-align: center;
    max-width: 700px;
    margin: auto;
    margin-bottom: 60px;
}

.section-label {
    color: #2563EB;
    font-size: 15px;
    font-weight: 600;
    letter-spacing: 2px;
    margin-bottom: 12px;
}

.why-heading h2 {
    font-size: 42px;
    color: #1F2937;
    margin-bottom: 18px;
}

.why-heading p {
    color: #6B7280;
    line-height: 1.8;
    font-size: 17px;
}

.why-cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 25px;
}

.why-card {
    background: #F8FAFC;
    padding: 35px 25px;
    border-radius: 16px;
    text-align: center;
    transition: 0.3s ease;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.05);
}

.why-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 25px rgba(37, 99, 235, 0.15);
}

.why-icon {
    width: 70px;
    height: 70px;
    background: #2563EB;
    color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-bottom: 20px;
    font-size: 28px;
}

.why-card h3 {
    margin-bottom: 20px;
    color: #1F2937;
}

.why-card p {
    color: #6B7280;
    line-height: 1.7;
    font-size: 16px;
}

@media (max-width:992px) {

    .why-cards {
        grid-template-columns: repeat(2, 1fr);
    }

}

@media (max-width:768px) {

    .why-cards {
        grid-template-columns: 1fr;
    }

    .why-heading h2 {
        font-size: 34px;
    }

}

.about-cta {
    padding: 80px 20px;
    background: #85a5f0;
    text-align: center;
}

.cta-content {
    max-width: 750px;
    margin: auto;
}

.cta-label {
    color: #dbeafe;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 2px;
    margin-bottom: 12px;
}

.cta-content h2 {
    color: white;
    font-size: 42px;
    margin-bottom: 18px;
}

.cta-content p {
    color: #e0e7ff;
    font-size: 17px;
    line-height: 1.8;
    margin-bottom: 30px;
}

.cta-btn {
    padding: 14px 34px;
    background: #2563eb;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 17px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s ease;
}

.cta-btn:hover {
    transform: translateY(-3px);
    background: #04244e;
}

@media (max-width: 768px) {
    .cta-content h2 {
        font-size: 32px;
    }

    .about-cta {
        padding: 60px 20px;
    }
}